---
import Inicio from "../components/Inicio.astro";
import Promos from "../components/Promos.astro";


---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Document</title>
	</head>
	<body class="bg-pink-100">
		<main class="w-full h-screen">
			<Inicio/>
			<Promos/>
		</main>
	</body>
</html>

